# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

*.h linguist-detectable=false
*.cc linguist-detectable=false
*.cpp linguist-detectable=false
*.kt linguist-detectable=false
*.rb linguist-detectable=false
*.swift linguist-detectable=false
*.cmake linguist-detectable=false
*.gradle linguist-detectable=false
*.json linguist-detectable=false
*.plist linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.xib linguist-detectable=false
*.storyboard linguist-detectable=false
*.manifest linguist-detectable=false
*.entitlements linguist-detectable=false
*..properties linguist-detectable=false
*.xc* linguist-detectable=false
Podfile linguist-detectable=false
CMakeLists.txt linguist-detectable=false